.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.screening-data {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-bottom: 2em;
}

.screening-data button {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  padding: 14px 28px;
  background: #333333;
  color: whitesmoke;
  border-radius: 1em;
  width: auto;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
